*{
    font-family:'Playfair Display',serif;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
  }


html{
    scroll-behavior: smooth;
} 

.container1{
    width:100%;
}

.title{
    font-size: 7vw;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction: column;
}

#mainbg
{
    display: flex;
    z-index: -2;
    width: 100vw;    
    height: 100vh;
    opacity: 0.7;
    position:absolute;
    filter: brightness(50%); 
}

.container1Content{
    display: inline-block;
}

.enterDoor{
    display: flex;
    justify-content: right;
}

.enterDoor a{
    font-size:45px;
}

.bigScreen, .smallScreen{
    text-shadow: goldenrod 1px 0 10px;
    position: relative;
}

.socialMediaContent{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}

.title a
{
    display:flex;
    transform: scale(0.5);
    /* z-index: -1; */
    /* position:relative; */
    color:white;
    text-decoration: none;
}

.socialMediaContent a:hover, .enterDoor:hover{
    color: wheat;
}

.enterDoor a:hover{
    border-bottom: 10px solid wheat;
    border-radius: 5px;
    
}

#home, #about{
    background-color: #77787B;
}

.navBar{
  top: 0;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  
} 

.navBar a{
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 30px 40px;
    width: fit-content;
    margin: 0 auto;
    /* letter-spacing: 5px; */
}


#fourchoices{
    /* width: 90vw; */
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: auto auto; */
    height: 80vh;
    row-gap: 20px;
    column-gap: 20px;
    padding: 5px;
    padding: 20px;
}


#option1, #option2, #option3, #option4{
    display: grid;
    justify-content: center;
    align-content: center;
    /* align-items:end; */
    letter-spacing: 5px;
    text-align: center;
    height: auto;
    /* height: 70vh; */
    /* word-wrap: break-word; */
    box-shadow: 2px 4px 8px 2px rgba(46, 49, 46, 0.8);
    overflow-y: hidden;
}

#option1{
    background-image: url("./photos/karsten-winegeart-XYPpdLW07_M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 40%;
}

#option2{
    background-image: url("./photos/sandie-clarke-HcqgubITDbU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    /* background-position: -30px; */
    opacity: 40%;
}

#option3{
    background-image: url("./photos/kaizen-nguy-n-ee5yWSeHPuw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 40%;
}

#option4{
    background-image: url("./photos/florian-klauer-mk7D-4UCfmg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 40%;
}

#option1 h1, #option2 h1, #option3 h1, #option4 h1{
    background-color: rgba(255, 255, 255, 0.50);
}

#option1 a, #option2 a, #option3 a, #option4 a{
    position: relative;
    top:100%;
    transform: scale(3);
    color:white;
    text-decoration: none;
   
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover{
    opacity: 100%;
    box-shadow: 2px 4px 8px 2px rgba(55, 66, 57, 0.8);
}

#about{
    height:100vh;
}

#about h1{
    text-align: center;
    padding-bottom: 20px;
}

#test {
    display: grid;
    grid-template-columns: auto auto ;
    width: 100vw;
    text-align: center;
}

.imageAbout{
    width: 50%;
}

.divAbout{
    height:auto;
}




@media only screen and (max-width: 500px) {
    .bigScreen{
        display: none;
    }
    .smallScreen{
        font-size: 100px;
    }
    #af1{
        width: 75vw;
    }
    #mainbg{
        transform: rotate(-90deg);
        height:100%; 
        width:auto;
        /* top:0;
        bottom:0; */
        /* position: absolute; */
    }
    #option1, #option2, #option3, #option4{
        opacity: 90%;
    }
}

@media only screen and (min-width: 501px) and (max-width:1024px){
    .smallScreen{
        display:none;
    }
    #af1{
        width: 50vw;
    }
    #fourchoices{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media only screen and (min-width: 1025px) {
    #af1{
        width: 35vw;
    }
    .smallScreen{
        display:none;
    }
    #fourchoices{
        grid-template-columns: auto auto auto auto;
    }
}